PROJECT_NAME=discodeit
PROJECT_VERSION=1.2-M8
JVM_OPTS=

SPRING_PROFILES_ACTIVE=prod
PORT=80

# Database
DB_NAME=discodeit
DB_USERNAME=postgres
DB_PASSWORD=${DB_PASSWORD}
DB_URL=jdbc:postgresql://postgres:5432/discodeit

# Storage
BINARY_STORAGE_PATH=/app/storage
STORAGE_TYPE=s3

# AWS S3
AWS_S3_ACCESS_KEY=${AWS_S3_ACCESS_KEY}
AWS_S3_SECRET_KEY=${AWS_S3_SECRET_KEY}
AWS_S3_REGION=ap-northeast-2
AWS_S3_BUCKET=discodeit-binary-content-storage-${USER_INITIALS}
AWS_S3_PRESIGNED_URL_EXPIRATION=600

# 실제 AWS S3 연동 테스트를 실행할 때만 true로 변경하세요.
AWS_S3_TEST_ENABLED=false
